<% if(success && success.length) { %> 
<div class="flash-success" role="alert">
    <p><%= success %></p>
    <button>&times;</button>
</div>
<% } %> 

<% if(error && error.length) { %>
    <div class="flash-error" role="alert">
        <p><%= error %></p>
        <button>&times;</button>
    </div>    
<% } %> 