<% if(success && success.length) { %> 
<div class="flash-success flash-message" role="alert">
    <p><%= success %></p>
    <button class="flash-btn">&times;</button>
</div>
<% } %> 

<% if(error && error.length) { %>
    <div class="flash-error flash-message" role="alert">
        <p><%= error %></p>
        <button class="flash-btn">&times;</button>
    </div>    
<% } %> 