<footer class="footer">
    <div class="container">
        <div class="footer-nav">
            <div class="footer-left">
                <a href="/">
                    <svg width="119" height="31" viewBox="0 0 119 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="31" height="31" rx="15.5" fill="#3F3F3F"/>
                        <path d="M18.083 19.1711V14.7522" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15.2852 19.171V12.1008" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M20.8818 19.1709V17.4033" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.0557 19.1711V14.7522" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.8535 19.171V12.1008" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.25684 19.1709V17.4033" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M34.1568 19.2C33.8701 19.2 33.5868 19.1733 33.3068 19.12C33.0334 19.0733 32.7668 19.0033 32.5068 18.91C32.2534 18.81 32.0134 18.6967 31.7868 18.57C31.5601 18.4367 31.3568 18.29 31.1768 18.13L32.6268 16.55C32.7934 16.73 33.0134 16.89 33.2868 17.03C33.5668 17.17 33.8534 17.24 34.1468 17.24C34.2801 17.24 34.4001 17.2167 34.5068 17.17C34.6201 17.1233 34.6768 17.0367 34.6768 16.91C34.6768 16.8433 34.6568 16.7867 34.6168 16.74C34.5834 16.6933 34.5201 16.6467 34.4268 16.6C34.3334 16.5467 34.2034 16.49 34.0368 16.43C33.8768 16.37 33.6734 16.3 33.4268 16.22C33.1868 16.14 32.9568 16.0467 32.7368 15.94C32.5168 15.8267 32.3201 15.69 32.1468 15.53C31.9801 15.37 31.8468 15.18 31.7468 14.96C31.6468 14.7333 31.5968 14.4633 31.5968 14.15C31.5968 13.71 31.6868 13.3367 31.8668 13.03C32.0468 12.7233 32.2768 12.4733 32.5568 12.28C32.8434 12.08 33.1634 11.9367 33.5168 11.85C33.8701 11.7633 34.2201 11.72 34.5668 11.72C35.0334 11.72 35.5068 11.81 35.9868 11.99C36.4734 12.17 36.9001 12.43 37.2668 12.77L35.7868 14.28C35.6268 14.08 35.4301 13.93 35.1968 13.83C34.9634 13.7233 34.7534 13.67 34.5668 13.67C34.3934 13.67 34.2534 13.6967 34.1468 13.75C34.0401 13.7967 33.9868 13.8767 33.9868 13.99C33.9868 14.0967 34.0401 14.1767 34.1468 14.23C34.2601 14.2833 34.4401 14.35 34.6868 14.43C34.9401 14.51 35.2068 14.6033 35.4868 14.71C35.7668 14.8167 36.0234 14.9567 36.2568 15.13C36.4968 15.2967 36.6934 15.5033 36.8468 15.75C37.0001 15.9967 37.0768 16.3033 37.0768 16.67C37.0768 17.0967 36.9901 17.47 36.8168 17.79C36.6501 18.1033 36.4268 18.3667 36.1468 18.58C35.8734 18.7867 35.5634 18.94 35.2168 19.04C34.8701 19.1467 34.5168 19.2 34.1568 19.2ZM40.1186 15L40.2286 19H38.0086V11.92H41.1186L42.3986 15.73H42.4486L43.5586 11.92H46.7686V19H44.4586L44.5286 15.02L44.4686 15.01L43.1486 19H41.4686L40.1686 15H40.1186ZM50.0568 11.92H52.5868L55.3468 19H52.7568L52.3868 17.96H50.1368L49.7868 19H47.2668L50.0568 11.92ZM51.2868 14.39L50.7068 16.14H51.8568L51.2868 14.39ZM55.8504 11.92H58.2504V16.96H60.6004V19H55.8504V11.92ZM61.3387 11.92H63.7387V16.96H66.0887V19H61.3387V11.92ZM71.1929 15L71.3029 19H69.0829V11.92H72.1929L73.4729 15.73H73.5229L74.6329 11.92H77.8429V19H75.5329L75.6029 15.02L75.5429 15.01L74.2229 19H72.5429L71.2429 15H71.1929ZM81.131 11.92H83.661L86.421 19H83.831L83.461 17.96H81.211L80.861 19H78.341L81.131 11.92ZM82.361 14.39L81.781 16.14H82.931L82.361 14.39ZM86.9246 11.92H89.9746C90.3213 11.92 90.6646 11.9567 91.0046 12.03C91.3513 12.0967 91.658 12.22 91.9246 12.4C92.198 12.5733 92.418 12.81 92.5846 13.11C92.7513 13.4033 92.8346 13.7733 92.8346 14.22C92.8346 14.6533 92.728 15.0367 92.5146 15.37C92.3013 15.6967 91.9946 15.95 91.5946 16.13L93.3946 19H90.6546L89.2946 16.47H89.2246V19H86.9246V11.92ZM89.2046 14.91H89.6746C89.7546 14.91 89.8413 14.9033 89.9346 14.89C90.0346 14.8767 90.1246 14.85 90.2046 14.81C90.2913 14.7633 90.3613 14.7033 90.4146 14.63C90.4746 14.55 90.5046 14.4467 90.5046 14.32C90.5046 14.1933 90.4813 14.0933 90.4346 14.02C90.388 13.9467 90.328 13.8933 90.2546 13.86C90.1813 13.82 90.1013 13.7967 90.0146 13.79C89.928 13.7767 89.848 13.77 89.7746 13.77H89.2046V14.91ZM97.6633 19.18C97.1033 19.18 96.5833 19.0933 96.1033 18.92C95.63 18.7467 95.2167 18.5 94.8633 18.18C94.5167 17.8533 94.2433 17.46 94.0433 17C93.8433 16.54 93.7433 16.0267 93.7433 15.46C93.7433 14.8933 93.8433 14.38 94.0433 13.92C94.2433 13.46 94.5167 13.0667 94.8633 12.74C95.21 12.4133 95.6167 12.1633 96.0833 11.99C96.55 11.81 97.05 11.72 97.5833 11.72C98.1367 11.72 98.66 11.81 99.1533 11.99C99.6533 12.17 100.06 12.4167 100.373 12.73L98.9833 14.4C98.8367 14.2267 98.6633 14.09 98.4633 13.99C98.2633 13.8833 98.0167 13.83 97.7233 13.83C97.53 13.83 97.34 13.87 97.1533 13.95C96.9733 14.0233 96.8133 14.1333 96.6733 14.28C96.5333 14.42 96.42 14.59 96.3333 14.79C96.2467 14.99 96.2033 15.2133 96.2033 15.46C96.2033 15.9533 96.33 16.3567 96.5833 16.67C96.8433 16.9767 97.2567 17.13 97.8233 17.13C97.9233 17.13 98.0267 17.1233 98.1333 17.11C98.24 17.09 98.3233 17.0633 98.3833 17.03V16.49H97.2433V14.62H100.493V18.49C100.327 18.59 100.133 18.6833 99.9133 18.77C99.7 18.85 99.47 18.92 99.2233 18.98C98.9833 19.04 98.73 19.0867 98.4633 19.12C98.1967 19.16 97.93 19.18 97.6633 19.18ZM101.681 11.92H104.081V19H101.681V11.92ZM105.401 11.92H107.771L109.791 15.51H109.831L109.731 11.92H111.991V19H109.561L107.601 15.62H107.561L107.661 19H105.401V11.92ZM115.631 19.2C115.345 19.2 115.061 19.1733 114.781 19.12C114.508 19.0733 114.241 19.0033 113.981 18.91C113.728 18.81 113.488 18.6967 113.261 18.57C113.035 18.4367 112.831 18.29 112.651 18.13L114.101 16.55C114.268 16.73 114.488 16.89 114.761 17.03C115.041 17.17 115.328 17.24 115.621 17.24C115.755 17.24 115.875 17.2167 115.981 17.17C116.095 17.1233 116.151 17.0367 116.151 16.91C116.151 16.8433 116.131 16.7867 116.091 16.74C116.058 16.6933 115.995 16.6467 115.901 16.6C115.808 16.5467 115.678 16.49 115.511 16.43C115.351 16.37 115.148 16.3 114.901 16.22C114.661 16.14 114.431 16.0467 114.211 15.94C113.991 15.8267 113.795 15.69 113.621 15.53C113.455 15.37 113.321 15.18 113.221 14.96C113.121 14.7333 113.071 14.4633 113.071 14.15C113.071 13.71 113.161 13.3367 113.341 13.03C113.521 12.7233 113.751 12.4733 114.031 12.28C114.318 12.08 114.638 11.9367 114.991 11.85C115.345 11.7633 115.695 11.72 116.041 11.72C116.508 11.72 116.981 11.81 117.461 11.99C117.948 12.17 118.375 12.43 118.741 12.77L117.261 14.28C117.101 14.08 116.905 13.93 116.671 13.83C116.438 13.7233 116.228 13.67 116.041 13.67C115.868 13.67 115.728 13.6967 115.621 13.75C115.515 13.7967 115.461 13.8767 115.461 13.99C115.461 14.0967 115.515 14.1767 115.621 14.23C115.735 14.2833 115.915 14.35 116.161 14.43C116.415 14.51 116.681 14.6033 116.961 14.71C117.241 14.8167 117.498 14.9567 117.731 15.13C117.971 15.2967 118.168 15.5033 118.321 15.75C118.475 15.9967 118.551 16.3033 118.551 16.67C118.551 17.0967 118.465 17.47 118.291 17.79C118.125 18.1033 117.901 18.3667 117.621 18.58C117.348 18.7867 117.038 18.94 116.691 19.04C116.345 19.1467 115.991 19.2 115.631 19.2Z" fill="white"/>
                        </svg>       
                </a>
            </div>
            <div class="footer-middle">
                <ul class="links-left">
                    <a href=""><li>About</li></a>
                    <a href=""><li>Gear</li></a>
                    <a href=""><li>Reviews</li></a>
                </ul>
                <ul class="links-right">
                    <a href=""><li>Training</li></a>
                    <a href=""><li>Health & Wellbeing</li></a>
                    <a href=""><li>Contact Us</li></a>
                </ul>
            </div>
            <div class="footer-right">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="15" cy="15" r="15" fill="#C4C4C4"/>
                    <path d="M18.333 8.33325H11.6663C9.82539 8.33325 8.33301 9.82564 8.33301 11.6666V18.3333C8.33301 20.1742 9.82539 21.6666 11.6663 21.6666H18.333C20.174 21.6666 21.6663 20.1742 21.6663 18.3333V11.6666C21.6663 9.82564 20.174 8.33325 18.333 8.33325Z" stroke="#3F3F3F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.6668 14.58C17.7491 15.1348 17.6543 15.7014 17.396 16.1993C17.1376 16.6972 16.7289 17.1009 16.2279 17.3531C15.7269 17.6052 15.1591 17.693 14.6053 17.6039C14.0515 17.5148 13.54 17.2533 13.1434 16.8567C12.7467 16.4601 12.4853 15.9485 12.3962 15.3948C12.3071 14.841 12.3948 14.2732 12.647 13.7722C12.8992 13.2712 13.3029 12.8625 13.8008 12.6041C14.2987 12.3458 14.8653 12.251 15.4201 12.3333C15.9861 12.4172 16.51 12.6809 16.9146 13.0855C17.3192 13.4901 17.5829 14.014 17.6668 14.58Z" stroke="#3F3F3F" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.667 11.3333H18.6737" stroke="#3F3F3F" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>   
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="15" cy="15" r="15" fill="#C4C4C4"/>
                    <path d="M19.1667 7H16.6667C15.5616 7 14.5018 7.43899 13.7204 8.22039C12.939 9.00179 12.5 10.0616 12.5 11.1667V13.6667H10V17H12.5V23.6667H15.8333V17H18.3333L19.1667 13.6667H15.8333V11.1667C15.8333 10.9457 15.9211 10.7337 16.0774 10.5774C16.2337 10.4211 16.4457 10.3333 16.6667 10.3333H19.1667V7Z" fill="#C4C4C4" stroke="#3F3F3F" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="15" cy="15" r="15" fill="#C4C4C4"/>
                    <path d="M24.2087 7.3749C23.4505 7.90966 22.6112 8.31866 21.7228 8.58615C21.246 8.03793 20.6124 7.64937 19.9076 7.47301C19.2027 7.29666 18.4608 7.34102 17.782 7.6001C17.1032 7.85918 16.5203 8.32047 16.1123 8.9216C15.7042 9.52272 15.4906 10.2347 15.5003 10.9612V11.7528C14.1091 11.7889 12.7305 11.4803 11.4874 10.8546C10.2442 10.2289 9.17516 9.30549 8.37533 8.16657C8.37533 8.16657 5.20866 15.2916 12.3337 18.4582C10.7032 19.565 8.76099 20.1199 6.79199 20.0416C13.917 23.9999 22.6253 20.0416 22.6253 10.9374C22.6246 10.7169 22.6034 10.4969 22.562 10.2803C23.37 9.4835 23.9401 8.47747 24.2087 7.3749V7.3749Z" stroke="#3F3F3F" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                 
            </div>
        </div>
        <div class="footer-copyright">
            <div>
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <path d="M14.875 7.08325C14.875 12.0416 8.5 16.2916 8.5 16.2916C8.5 16.2916 2.125 12.0416 2.125 7.08325C2.125 5.3925 2.79665 3.77099 3.99219 2.57545C5.18774 1.3799 6.80924 0.708252 8.5 0.708252C10.1908 0.708252 11.8123 1.3799 13.0078 2.57545C14.2033 3.77099 14.875 5.3925 14.875 7.08325Z" fill="#E5E5E5" stroke="#E5E5E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.5 9.20825C9.6736 9.20825 10.625 8.25686 10.625 7.08325C10.625 5.90965 9.6736 4.95825 8.5 4.95825C7.32639 4.95825 6.375 5.90965 6.375 7.08325C6.375 8.25686 7.32639 9.20825 8.5 9.20825Z" fill="#3F3F3F" stroke="#3F3F3F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="17" height="17" fill="white"/>
                    </clipPath>
                    </defs>
                </svg> 
                <p>United Kingdom</p>   
            </div>
            <div class="footer-dot"></div>
            <small class="copyright">2021 Small Margins. All Rights Reserved.</small>
        </div>
    </div>
</footer>