@import './main.scss';

.navbar {
    background-color: #FFF;
    box-shadow: 0px 5px 1rem rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in;
}

.container { 
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
    }

    .img__container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 40%;
        min-height: 500px;
        margin-top: 200px;

        @media screen and (max-width: 500px) {
            display: flex;
            align-items: flex-start;
            width: 100%;
            min-height: 200px;
            margin-top: 70px;
            background-color: red;
        }

        .product-img {
            width: 100%;
        }
    }

    .product__container {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0 auto;
        margin-top: 200px;

        @media screen and (max-width: 500px) {
            margin-top: 20px;
            width: 100%;
        }

        .product__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            // margin-top: 100px;
            margin-bottom: 40px;

            @media screen and (max-width: 500px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            div {
                display: flex;
                flex-direction: column;

                h2 {
                    @media screen and (max-width: 500px) {
                        font-size: 1.8;
                        text-align: center;
                    }
                }
                
                p {
                    font-size: 1rem;
                    margin: 10px 0;
                    opacity: 0.3;

                    @media screen and (max-width: 500px) {
                        margin-bottom: 20px;
                    }
                }
            }

            .product__price {
                font-size: 1.5rem;
                font-weight: 700;
                border: 3px solid black;
                padding: 10px 20px;
            }
        }

        .product__description {
            font-size: 1.2rem;
            line-height: 30px;
        }

        a {

            .primary-btn {
                width: 130px;
                height: 50px;
                margin-top: 20px;
            }
        }

        .admin__control {
            display: flex;
            flex-direction: column;
            border-top: 1px solid #E8E8E8;
            border-bottom: 1px solid #E8E8E8;
            padding: 40px 0;
            margin: 50px 0;

            h4 {
                margin-bottom: 20px;
            }

            div {
                display: flex;
                flex-direction: row;

                .btn-edit,
                .btn-delete {
                border: none;
                height: 50px;
                width: 130px;
                text-transform: uppercase;
                transition: 0.3s ease-in;

                    &:hover {
                    background-color: $primaryBlack;
                    color: $white;
                    }
                }

                .btn-edit {
                    margin-right: 15px;
                }
            }
        }
    }
}

.reviews {
    width: 100%;
    margin-bottom: 200px;

    .section-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        h3 {
            margin-top: 150px;
            margin-bottom: 40px;
        }
    }

    .reviews__container {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;

        .reviews__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #E8E8E8;
            margin-top: 100px;

            .reviews-toggle {
                cursor: pointer;
            }
        }

        .review-message {
            padding: 30px 0;
            border-bottom: 1px solid #E8E8E8;

            .open-modal {
                border: none;
                background-color: transparent;
                text-transform: uppercase;
                font-weight: 700;
                color: black;
                font-size: 1.1rem;
                border-bottom: 1px dashed $primaryBlack;
                transition: 0.2s ease-in;

                &:hover {
                    color:rgba(0, 0, 0, 0.3);
                    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
                }
            }
        }

        .review-signin {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid #E8E8E8;
            padding: 30px 0;

            p {
                text-transform: uppercase;
            }

            a {
                padding-left: 20px;

                .primary-btn {
                    height: 40px;
                    width: 110px;
                }
            }
        }

        .hide {
            display: none!important;
        }

        .review__body {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #E8E8E8;

            .review__headline {
                margin-top: 20px;
                margin-bottom: 10px;
                font-size: 1.3rem;
            }

            .review__rating {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;

                .review__author {
                    padding-left: 20px;
                    color: #a4a4a4;
                    letter-spacing: 0.05em;
                }
            }

            .review__content {
                margin-top: 15px;
                margin-bottom: 30px;
                font-weight: 300;
            }

            .btn-delete {
                border: none;
                height: 40px;
                width: 130px;
                text-transform: uppercase;
                transition: 0.3s ease-in;
                margin-bottom: 20px;
            }
        }
    }
    .hidden {
        display: none;
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFF;
        color: #3F3F3F;
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
        z-index: 1000;
        border-radius: 5px;
        width: 50%;
        margin: 0 auto;
        padding: 50px;

        .review-form {
            display: flex;
            flex-direction: column;

            .form-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                .close-modal {
                    background-color: $primaryBlack;
                    color: $white;
                    width: 35px;
                    height: 35px;
                    border: none;
                    border-radius: 50%;
                    font-size: 1.5rem;
                }
            }

            input {
                margin-bottom: 30px;
            }

            textarea {            
                min-height: 60px;
            }

            .form-btn {
                width: 100%;
                border: none;
                background-color: #3F3F3F;
                height: 50px;
                color: #FFF;
                text-transform: uppercase;
                margin-top: 30px;
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 999;
    }
}