@import './main.scss';

.navbar {
    background-color: #FFF;
    box-shadow: 0px 5px 1rem rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in;
}

.container { 
    display: flex;
    flex-direction: row;

    .img__container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 40%;
        min-height: 500px;
        margin-top: 200px;

        .product-img {
            width: 100%;
        }
    }

    .product__container {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0 auto;
        margin-top: 200px;

        .product__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            // margin-top: 100px;
            margin-bottom: 40px;

            div {
                display: flex;
                flex-direction: column;
                
                p {
                    font-size: 1rem;
                    margin: 10px 0;
                    opacity: 0.3;
                }
            }

            .product__price {
                font-size: 1.5rem;
                font-weight: 700;
                border: 3px solid black;
                padding: 10px 20px;
            }
        }

        .product__description {
            font-size: 1.2rem;
            line-height: 30px;
        }
    }
}

.reviews {
    width: 100%;

    .section-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            margin-top: 50px;
            margin-bottom: 40px;
        }
    }

    .reviews__container {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;

        .reviews__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #E8E8E8;
            margin-top: 100px;
        }

        
        .review__body {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #E8E8E8;

            .review__headline {
                margin-bottom: 10px;
            }

            .review__rating {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;
            }

            .review__content {
                margin-bottom: 30px;
            }
        }
    }
    .hidden {
        display: none;
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFF;
        color: #3F3F3F;
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
        z-index: 1000;
        border-radius: 5px;
        width: 50%;
        margin: 0 auto;
        padding: 20px;

        .review-form {
            display: flex;
            flex-direction: column;
            margin: 30px 0;

            input {
                background-color: #FAFAFA;
                font-weight: 300;
                height: 50px;
                border: none;
                margin-bottom: 30px;
            }

            label {
                font-weight: 700;
                margin-bottom: 20px;
                text-transform: uppercase;
            }

            textarea {
                width: 100%;
                resize: vertical;
                min-height: 60px;
                background-color: #FAFAFA;
                border: none;
                padding: 20px;
                font-weight: 300;
            }

            .form-btn {
                width: 100%;
                border: none;
                background-color: #3F3F3F;
                height: 50px;
                color: #FFF;
                text-transform: uppercase;
                margin-top: 30px;
            }
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 999;
    }
}