@import './main.scss';

.cookie-message {
    position: absolute;
    top: 14vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
    background-color: #e5e5e5;
    font-weight: 300;

    @media screen and (max-width: 768px) {
        padding: 0 10%;
    }

    @media screen and (max-width: 500px) {
        display: none;
    }

    p {
        font-size: 14px;

        @media screen and (max-width: 768px) {
            font-size: 0.8rem;
            width: 80%;
        }
    }



    .cookie-btn {
        border: 1px solid $primaryBlack;
        background-color: transparent;
        width: 100px;
        height: 30px;
        margin-left: 20px;
    }
}

.hero {
    width: 90%;
    height: 84vh;
    background-image: url('/img/heroimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 50px;

    @media screen and (max-width: 1280px) {
        background-image: url('/img/hero-img-sm-desktop.svg');
    }

    @media screen and (max-width: 768px) {
        background-image: url('/img/hero-img-tablet.svg');
    }

    @media screen and (max-width: 500px) {
        background-image: url('/img/hero-img-mobile.svg');
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
        width: 100%;

        h1 {
            color: #FFF;
            font-family: $heroFont;
            font-size: 5rem;

            @media screen and (max-width: 768px) {
                font-size: 4rem;
                width: 80%;
            }
        }

        p {
            font-size: 1rem;
            width: 50%;
            line-height: 30px;
            margin-top: 10px;
            color: #e5e5e5;
            font-weight: 300;
            text-transform: uppercase;

            @media screen and (max-width: 500px) {
                width: 80%;
            }
        }
    }
}

.products {

    .section-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        h2 {
            margin-top: 100px;
            margin-bottom: 30px;

            @media screen and (max-width: 500px) {
                text-align: center;
            }
        }

        .detail {
            margin-bottom: 30px;
        }

        p {
            text-align: center;
        }
    }

    .product__grid.container {
        @media screen and (max-width: 500px) {
            width: 90%;
        }
    }

    .product__grid {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 2em;
        grid-row-gap: 150px;
        margin-top: 100px;
        margin-bottom: 100px;

        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        }

        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }

        .product__item {
            display: flex;
            flex-direction: column;

            .img-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;

                img {
                    height: 350px;
                    width: 100%;
                }
            }

            h4 {
                margin: 20px 0;
            }

            .product__description {
                width: 90%;
                font-weight: 300;
                margin-bottom: 20px;
            }

            .product__footer {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-top: 20px;

                .btn-wrapper {
                    .btn-purchase {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 160px;
                        height: 40px;
                        background-color: transparent;

                        span {
                            text-transform: uppercase;
                            font-weight: 700;
                            padding-right: 10px;
                        }

                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}

.banner {
    background-color: $primaryYellow;
    padding: 70px 0;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        .banner-left {
            h3 {
                font-size: 4rem;
                margin-bottom: 10px;
                font-family: $heroFont;

                @media screen and (max-width: 768px) {
                    font-size: 2.5rem;
                }
            }
    
            p {
                text-transform: uppercase;

                @media screen and (max-width: 768px) {
                    font-size: .8rem;
                }
            }
        }

        .banner-right {
            position: relative;
            background-color: transparent;
            border: 3px solid #000;
            width: 250px;
            height: 70px;

            @media screen and (max-width: 768px) {
                width: 150px;
                height: 40px;
            }

            a {
                .btn-banner {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    background-color: #000;
                    color: $white;
                    border: none;
                    position: absolute;
                    left: -10px;
                    bottom: -10px;
                    width: 250px;
                    height: 70px;

                    @media screen and (max-width: 768px) {
                        width: 150px;
                        height: 40px;
                    }

                    span {
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        font-weight: 700;
                        color: $white;

                        @media screen and (max-width: 768px) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}