@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inria Sans", sans-serif; }

a, li, button {
  cursor: pointer; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 80%;
  margin: 0 auto; }

.detail {
  width: 80px;
  height: 3px;
  background-color: #EDEDED; }

* {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

h1 {
  font-size: 3.5rem;
  font-weight: 500; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inria Sans", sans-serif; }

a, li, button {
  cursor: pointer; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 80%;
  margin: 0 auto; }

.detail {
  width: 80px;
  height: 3px;
  background-color: #EDEDED; }

.navbar.navbar-active {
  background-color: white;
  box-shadow: 0px 5px 1rem rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in; }
  .navbar.navbar-active .container .navbar__logo .stroke {
    stroke: #3F3F3F; }
  .navbar.navbar-active .container .navbar__logo .fill {
    fill: #3F3F3F; }
  .navbar.navbar-active .container .navbar__links .navbar__link:hover {
    color: black; }
  .navbar.navbar-active .container .navbar__icons .img-wrapper .user-icon .svg-stroke {
    stroke: black; }

.navbar {
  width: 100%;
  min-height: 8vh;
  background-color: transparent;
  position: fixed;
  z-index: 1000; }
  .navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh; }
    .navbar .container .navbar__logo .stroke {
      stroke: #75746f; }
    .navbar .container .navbar__logo .fill {
      fill: #75746f; }
    .navbar .container .navbar__links {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .navbar .container .navbar__links .navbar__link {
        color: #75746f;
        padding-right: 20px;
        transition: 0.3s ease-in; }
        .navbar .container .navbar__links .navbar__link:hover {
          color: #FFF; }

.navbar {
  background-color: black; }

.admin-control {
  height: 100vh;
  width: 100%; }
  .admin-control .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .admin-control .container h1 {
      text-align: center;
      margin-top: 100px; }
    .admin-control .container .form {
      min-height: 50vh;
      width: 50%;
      margin: 0 auto;
      display: flex;
      flex-direction: column; }
      .admin-control .container .form label {
        margin-top: 20px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 700; }
      .admin-control .container .form input {
        height: 50px;
        font-weight: 300;
        padding-left: 15px; }
      .admin-control .container .form .btn-form {
        width: 100%;
        height: 50px;
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        border: none;
        margin: 30px 0; }
      .admin-control .container .form textarea {
        padding: 15px;
        font-weight: 300; }
