@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inria Sans", sans-serif; }

a, li, button {
  cursor: pointer; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 80%;
  margin: 0 auto; }

.detail {
  width: 80px;
  height: 3px;
  background-color: #EDEDED; }

* {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

h1 {
  font-size: 3.5rem;
  font-weight: 500; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inria Sans", sans-serif; }

a, li, button {
  cursor: pointer; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 80%;
  margin: 0 auto; }

.detail {
  width: 80px;
  height: 3px;
  background-color: #EDEDED; }

.primary-btn {
  background-color: transparent;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid black;
  transition: 0.2s ease-in; }
  .primary-btn:hover {
    background-color: #3F3F3F;
    border: 3px solid #3F3F3F;
    color: #FFF; }

.hidden {
  display: none !important; }

.flash-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  color: #3F3F3F;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 5px;
  width: 30%;
  margin: 0 auto;
  padding: 20px; }
  .flash-modal .close-flash {
    width: 100%;
    height: 40px;
    background-color: #3F3F3F;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px; }

.flash-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999; }

label {
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700; }

input {
  background-color: #FAFAFA;
  color: #3F3F3F;
  font-weight: 300;
  padding-left: 20px;
  border: none;
  min-height: 50px; }

textarea {
  padding: 20px;
  font-weight: 300;
  border: none;
  background-color: #FAFAFA;
  width: 100%;
  resize: vertical; }

legend {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px; }

.form {
  min-height: 50vh;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .form .btn-form {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    margin: 30px 0; }

.auth {
  width: 80%;
  margin: 0 auto; }
  .auth .auth-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto; }
    .auth .auth-form h1 {
      text-align: center;
      margin-top: 100px; }
  .auth .btn-form {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    margin: 30px 0; }

.footer {
  background-color: #3F3F3F;
  padding: 30px 0; }
  .footer .container .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #737373;
    padding-bottom: 40px;
    margin-bottom: 20px; }
    .footer .container .footer-nav .footer-middle {
      display: flex;
      flex-direction: row; }
      .footer .container .footer-nav .footer-middle ul a {
        color: #737373;
        text-transform: uppercase;
        transition: 0.3s ease-in; }
        .footer .container .footer-nav .footer-middle ul a:hover {
          color: #FFF; }
        .footer .container .footer-nav .footer-middle ul a li {
          margin: 10px 0; }
      .footer .container .footer-nav .footer-middle .links-left {
        padding-right: 50px; }
      .footer .container .footer-nav .footer-middle .links-right {
        padding-left: 50px; }
  .footer .container .footer-copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #737373; }
    .footer .container .footer-copyright div {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .footer .container .footer-copyright div p {
        padding-left: 20px; }
    .footer .container .footer-copyright .footer-dot {
      width: 5px;
      height: 5px;
      background-color: #737373;
      border-radius: 50%;
      margin: 0 20px; }

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .navbar .navbar__top .container,
  .navbar .navbar__bottom .container {
    width: 80%;
    margin: 0 auto;
    height: 7vh; }
  .navbar .navbar__top .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .navbar .navbar__top .container .navbar__items {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .navbar .navbar__top .container a {
      color: #3F3F3F; }
      .navbar .navbar__top .container a .navbar-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 2px solid #3F3F3F;
        width: 100px;
        height: 30px;
        margin-left: 20px;
        transition: 0.3s ease-in; }
        .navbar .navbar__top .container a .navbar-btn:hover {
          background-color: #3F3F3F;
          color: #FFF; }
  .navbar .navbar__bottom {
    background-color: #3F3F3F;
    width: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3); }
    @media screen and (max-width: 500px) {
      .navbar .navbar__bottom {
        position: absolute;
        top: 7vh; } }
    .navbar .navbar__bottom .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .navbar .navbar__bottom .container .navbar__links {
        display: flex;
        flex-direction: row; }
        @media screen and (max-width: 500px) {
          .navbar .navbar__bottom .container .navbar__links {
            display: flex;
            flex-direction: column; } }
        .navbar .navbar__bottom .container .navbar__links .navbar__link {
          font-family: "IBM Plex Sans Condensed", sans-serif;
          font-size: 14px;
          color: #FFF;
          padding-right: 20px;
          letter-spacing: 0.03em; }

.admin-form {
  height: 100vh;
  width: 100%; }
  .admin-form .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .admin-form .container h1 {
      text-align: center;
      margin-top: 100px; }

.admin-form {
  height: 100vh;
  width: 100%; }
  .admin-form .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .admin-form .container h1 {
      text-align: center;
      margin-top: 100px; }
    .admin-form .container .form .product-sizes {
      display: flex;
      flex-direction: column; }
      .admin-form .container .form .product-sizes h6 {
        margin-top: 20px;
        margin-bottom: 10px; }
      .admin-form .container .form .product-sizes div {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .admin-form .container .form .product-sizes div input {
          margin-right: 20px; }

.admin-control {
  width: 100%; }
  .admin-control h1 {
    text-align: center;
    margin-top: 100px; }
  .admin-control .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }
    .admin-control .container .link-wrapper {
      position: relative;
      background-color: #e5e5e5;
      min-width: 300px;
      width: 30%;
      height: 350px;
      margin: 0 auto;
      margin-top: 100px;
      padding: 30px;
      color: #3F3F3F; }
      .admin-control .container .link-wrapper .control-link {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%; }

.container {
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 500px) {
    .container {
      display: flex;
      flex-direction: column; } }
  .container .img__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    min-height: 500px;
    margin-top: 70px; }
    @media screen and (max-width: 500px) {
      .container .img__container {
        display: flex;
        align-items: flex-start;
        width: 100%;
        min-height: 200px;
        margin-top: 100px;
        background-color: red; } }
    .container .img__container .product-img {
      width: 100%; }
  .container .product__container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    margin-top: 100px; }
    @media screen and (max-width: 500px) {
      .container .product__container {
        margin-top: 20px;
        width: 100%; } }
    .container .product__container .product__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px; }
      @media screen and (max-width: 500px) {
        .container .product__container .product__header {
          display: flex;
          flex-direction: column;
          align-items: center; } }
      .container .product__container .product__header div {
        display: flex;
        flex-direction: column; }
        @media screen and (max-width: 500px) {
          .container .product__container .product__header div h2 {
            font-size: 1.8;
            text-align: center; } }
        .container .product__container .product__header div p {
          font-size: 1rem;
          margin: 10px 0;
          opacity: 0.3; }
          @media screen and (max-width: 500px) {
            .container .product__container .product__header div p {
              margin-bottom: 20px; } }
      .container .product__container .product__header .product__price {
        font-size: 1.5rem;
        font-weight: 700;
        border: 3px solid black;
        padding: 10px 20px; }
    .container .product__container .product__description {
      font-size: 1.2rem;
      line-height: 30px; }
    .container .product__container a .primary-btn {
      width: 130px;
      height: 50px;
      margin-top: 20px; }
    .container .product__container .admin__control {
      display: flex;
      flex-direction: column;
      border-top: 1px solid #E8E8E8;
      border-bottom: 1px solid #E8E8E8;
      padding: 40px 0;
      margin: 50px 0; }
      .container .product__container .admin__control h4 {
        margin-bottom: 20px; }
      .container .product__container .admin__control div {
        display: flex;
        flex-direction: row; }
        .container .product__container .admin__control div .btn-edit,
        .container .product__container .admin__control div .btn-delete {
          border: none;
          height: 50px;
          width: 130px;
          text-transform: uppercase;
          transition: 0.3s ease-in; }
          .container .product__container .admin__control div .btn-edit:hover,
          .container .product__container .admin__control div .btn-delete:hover {
            background-color: #3F3F3F;
            color: #FFF; }
        .container .product__container .admin__control div .btn-edit {
          margin-right: 15px; }

.reviews {
  width: 100%;
  margin-bottom: 200px; }
  .reviews .section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .reviews .section-header h3 {
      margin-top: 150px;
      margin-bottom: 40px; }
  .reviews .reviews__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto; }
    .reviews .reviews__container .reviews__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #E8E8E8;
      margin-top: 100px; }
      .reviews .reviews__container .reviews__header .reviews-toggle {
        cursor: pointer; }
    .reviews .reviews__container .review-message {
      padding: 30px 0;
      border-bottom: 1px solid #E8E8E8; }
      .reviews .reviews__container .review-message .open-modal {
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: 700;
        color: black;
        font-size: 1.1rem;
        border-bottom: 1px dashed #3F3F3F;
        transition: 0.2s ease-in; }
        .reviews .reviews__container .review-message .open-modal:hover {
          color: rgba(0, 0, 0, 0.3);
          border-bottom: 1px dashed rgba(0, 0, 0, 0.3); }
    .reviews .reviews__container .review-signin {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid #E8E8E8;
      padding: 30px 0; }
      .reviews .reviews__container .review-signin p {
        text-transform: uppercase; }
      .reviews .reviews__container .review-signin a {
        padding-left: 20px; }
        .reviews .reviews__container .review-signin a .primary-btn {
          height: 40px;
          width: 110px; }
    .reviews .reviews__container .hide {
      display: none !important; }
    .reviews .reviews__container .review__body {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #E8E8E8; }
      .reviews .reviews__container .review__body .review__headline {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 1.3rem; }
      .reviews .reviews__container .review__body .review__rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px; }
        .reviews .reviews__container .review__body .review__rating .review__author {
          padding-left: 20px;
          color: #a4a4a4;
          letter-spacing: 0.05em; }
      .reviews .reviews__container .review__body .review__content {
        margin-top: 15px;
        margin-bottom: 30px;
        font-weight: 300; }
      .reviews .reviews__container .review__body .btn-delete {
        border: none;
        height: 40px;
        width: 130px;
        text-transform: uppercase;
        transition: 0.3s ease-in;
        margin-bottom: 20px; }
  .reviews .hidden {
    display: none; }
  .reviews .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #3F3F3F;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    padding: 50px; }
    .reviews .modal .review-form {
      display: flex;
      flex-direction: column; }
      .reviews .modal .review-form .form-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px; }
        .reviews .modal .review-form .form-header .close-modal {
          background-color: #3F3F3F;
          color: #FFF;
          width: 35px;
          height: 35px;
          border: none;
          border-radius: 50%;
          font-size: 1.5rem; }
      .reviews .modal .review-form input {
        margin-bottom: 30px; }
      .reviews .modal .review-form textarea {
        min-height: 60px; }
      .reviews .modal .review-form .form-btn {
        width: 100%;
        border: none;
        background-color: #3F3F3F;
        height: 50px;
        color: #FFF;
        text-transform: uppercase;
        margin-top: 30px; }
  .reviews .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999; }
