@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inria Sans", sans-serif; }

a, li, button {
  cursor: pointer; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 80%;
  margin: 0 auto; }

.detail {
  width: 80px;
  height: 3px;
  background-color: #EDEDED; }

* {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

h1 {
  font-size: 3.5rem;
  font-weight: 500; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inria Sans", sans-serif; }

a, li, button {
  cursor: pointer; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 80%;
  margin: 0 auto; }

.detail {
  width: 80px;
  height: 3px;
  background-color: #EDEDED; }

.hidden.flash-message {
  display: none; }

.flash-success,
.flash-error {
  display: flex;
  position: absolute;
  top: 8vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3F3F3F;
  color: #FFF;
  height: 5vh;
  width: 100%;
  padding: 0 10vh;
  margin-bottom: 100px; }

.navbar.navbar-active {
  background-color: white;
  box-shadow: 0px 5px 1rem rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in; }
  .navbar.navbar-active .container .navbar__logo .stroke {
    stroke: #3F3F3F; }
  .navbar.navbar-active .container .navbar__logo .fill {
    fill: #3F3F3F; }
  .navbar.navbar-active .container .navbar__links .navbar__link:hover {
    color: black; }
  .navbar.navbar-active .container .navbar__icons .img-wrapper .user-icon .svg-stroke {
    stroke: black; }

.navbar {
  width: 100%;
  min-height: 8vh;
  background-color: transparent;
  position: fixed;
  z-index: 1000; }
  .navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh; }
    .navbar .container .navbar__logo .stroke {
      stroke: #75746f; }
    .navbar .container .navbar__logo .fill {
      fill: #75746f; }
    .navbar .container .navbar__links {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .navbar .container .navbar__links .navbar__link {
        color: #75746f;
        padding-right: 20px;
        transition: 0.3s ease-in; }
        .navbar .container .navbar__links .navbar__link:hover {
          color: #FFF; }

.navbar {
  background-color: #FFF;
  box-shadow: 0px 5px 1rem rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in; }

.container {
  display: flex;
  flex-direction: row; }
  .container .img__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100vh; }
    .container .img__container .product-img {
      width: 100%; }
  .container .product__container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    height: 100vh; }
    .container .product__container .product__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 100px;
      margin-bottom: 40px; }
      .container .product__container .product__header div {
        display: flex;
        flex-direction: column; }
        .container .product__container .product__header div p {
          font-size: 1rem;
          margin: 10px 0;
          opacity: 0.3; }
      .container .product__container .product__header .product__price {
        font-size: 1.5rem;
        font-weight: 700;
        border: 3px solid black;
        padding: 10px 20px; }
    .container .product__container .product__description {
      font-size: 1.2rem;
      line-height: 30px; }

.reviews {
  width: 100%; }
  .reviews .section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .reviews .section-header h3 {
      margin-bottom: 40px; }
  .reviews .reviews__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto; }
    .reviews .reviews__container .reviews__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #E8E8E8;
      margin-top: 100px; }
    .reviews .reviews__container .review-form {
      display: flex;
      flex-direction: column;
      margin: 30px 0;
      border-bottom: 1px solid #E8E8E8; }
      .reviews .reviews__container .review-form input {
        background-color: #FAFAFA;
        font-weight: 300;
        height: 50px;
        border: none;
        margin-bottom: 30px; }
      .reviews .reviews__container .review-form label {
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase; }
      .reviews .reviews__container .review-form textarea {
        width: 100%;
        resize: vertical;
        min-height: 60px;
        background-color: #FAFAFA;
        border: none;
        padding: 20px;
        font-weight: 300; }
      .reviews .reviews__container .review-form .form-btn {
        width: 100%;
        border: none;
        background-color: #3F3F3F;
        height: 50px;
        margin: 30px 0;
        color: #FFF;
        text-transform: uppercase; }
    .reviews .reviews__container .review__body {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #E8E8E8; }
      .reviews .reviews__container .review__body .review__headline {
        margin-bottom: 10px; }
      .reviews .reviews__container .review__body .review__rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px; }
      .reviews .reviews__container .review__body .review__content {
        margin-bottom: 30px; }
