@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inria Sans", sans-serif; }

a, li, button {
  cursor: pointer; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 80%;
  margin: 0 auto; }

.detail {
  width: 80px;
  height: 3px;
  background-color: #EDEDED; }

* {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

h1 {
  font-size: 3.5rem;
  font-weight: 500; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inria Sans", sans-serif; }

a, li, button {
  cursor: pointer; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  width: 80%;
  margin: 0 auto; }

.detail {
  width: 80px;
  height: 3px;
  background-color: #EDEDED; }

.primary-btn {
  background-color: transparent;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid black;
  transition: 0.2s ease-in; }
  .primary-btn:hover {
    background-color: #3F3F3F;
    border: 3px solid #3F3F3F;
    color: #FFF; }

.hidden.flash-message {
  display: none; }

.flash-success,
.flash-error {
  display: flex;
  position: absolute;
  top: 8vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #3F3F3F;
  color: #FFF;
  height: 5vh;
  width: 100%;
  padding: 0 10vh;
  margin-bottom: 100px; }

.navbar.navbar-active {
  background-color: white;
  box-shadow: 0px 5px 1rem rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in; }
  .navbar.navbar-active .container .navbar__logo .stroke {
    stroke: #3F3F3F; }
  .navbar.navbar-active .container .navbar__logo .fill {
    fill: #3F3F3F; }
  .navbar.navbar-active .container .navbar__links .navbar__link:hover {
    color: black; }
  .navbar.navbar-active .container .navbar__icons .img-wrapper .user-icon .svg-stroke {
    stroke: black; }

.navbar {
  width: 100%;
  min-height: 8vh;
  background-color: transparent;
  position: fixed;
  z-index: 1000; }
  .navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh; }
    .navbar .container .navbar__logo .stroke {
      stroke: #75746f; }
    .navbar .container .navbar__logo .fill {
      fill: #75746f; }
    .navbar .container .navbar__links {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .navbar .container .navbar__links .navbar__link {
        color: #75746f;
        padding-right: 20px;
        transition: 0.3s ease-in; }
        .navbar .container .navbar__links .navbar__link:hover {
          color: #FFF; }

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("/img/hero-img.svg");
  background-repeat: no-repeat;
  background-size: cover; }
  .hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 70%; }
    .hero .container h1 {
      color: #FFF; }
    .hero .container p {
      font-size: 1.25rem;
      width: 30%;
      line-height: 30px;
      margin: 20px 0;
      color: #9b9b9b;
      font-weight: 300; }
      @media screen and (max-width: 500px) {
        .hero .container p {
          width: 80%; } }
    .hero .container div {
      position: relative;
      width: 200px;
      height: 50px;
      background-color: transparent;
      border: 2px solid white;
      margin-top: 20px; }
      .hero .container div a {
        position: absolute;
        top: -8px;
        left: -8px; }
        .hero .container div a .btn-hero {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 200px;
          height: 50px; }
          .hero .container div a .btn-hero span {
            padding-right: 10px;
            font-weight: 400; }

.products .section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .products .section-header h2 {
    margin-top: 100px;
    margin-bottom: 30px; }
  .products .section-header .detail {
    margin-bottom: 30px; }

.products .product__grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2em;
  grid-row-gap: 150px;
  margin-top: 100px;
  margin-bottom: 100px; }
  .products .product__grid .product__item {
    display: flex;
    flex-direction: column; }
    .products .product__grid .product__item .img-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%; }
      .products .product__grid .product__item .img-wrapper img {
        height: 350px;
        width: 100%; }
    .products .product__grid .product__item h4 {
      margin: 20px 0; }
    .products .product__grid .product__item .product__description {
      width: 90%;
      font-weight: 300;
      margin-bottom: 20px; }
    .products .product__grid .product__item .product__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px; }
      .products .product__grid .product__item .product__footer .btn-wrapper .btn-purchase {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 40px;
        background-color: transparent; }
        .products .product__grid .product__item .product__footer .btn-wrapper .btn-purchase span {
          text-transform: uppercase;
          font-weight: 700;
          padding-right: 10px; }
        .products .product__grid .product__item .product__footer .btn-wrapper .btn-purchase img {
          width: 30px;
          height: 30px; }
