.admin-control {
    width: 100%;
    h1 {
        text-align: center;
        margin-top: 100px;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        .link-wrapper {
            position: relative;
            background-color: #e5e5e5;
            min-width: 300px;
            width: 30%;
            height: 350px;
            margin: 0 auto;
            margin-top: 100px;
            padding: 30px;
            color: $primaryBlack;
            margin-bottom: 150px;

            .control-link {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;
            }
        }
    }
}

