@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@700&display=swap');

$baseFont: 16px;
$primaryFont: 'Inria Sans', sans-serif;
$navbarFont: 'IBM Plex Sans Condensed', sans-serif;

$primaryBlack: #3F3F3F;
$white: #FFF;
$inputColor: #FAFAFA;