@import '../abstracts/variables';

.primary-btn {
    background-color: transparent;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid black;
    transition: 0.2s ease-in;

    &:hover {
        background-color: $primaryBlack;
        border: 3px solid $primaryBlack;
        color: $white;
    }
}