.hidden {
    display: none;
}

.flash-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #3F3F3F;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}