<% layout('/layouts/boilerplate') %>
<% block('head').append('<link rel="stylesheet" type="text/css" href="/css/main.css">') %>
<main class="admin-control">
    <h1>Admin Control</h1>
    <div class="container">
        <a class="link-wrapper" href="/products/new">
            <div class="control-link">
                <h3>Create Product</h3>
            </div>    
        </a> 
        <a class="link-wrapper" href="/products/new">
            <div class="control-link">
                <h3>Create Article</h3>
            </div>    
        </a>
        <a class="link-wrapper" href="/products/new">
            <div class="control-link">
                <h3>Create Review</h3>
            </div>    
        </a>
    </div>
</main>