<% layout('/layouts/boilerplate') %>
<% block('head').append('<link rel="stylesheet" type="text/css" href="/css/new.css">') %>
<main class="admin-control">
    <h1>Create Item</h1>
    <form class="form" action="/"" method="POST">
        <label for="product-brand">Brand</label>
        <input type="text" id="product-brand" name="product[brand]" required>
        <label for="product-model">Model</label>
        <input type="text" id="product-model" name="product[name]" required>
        <label for="product-description">Description</label>
        <textarea type="text" name="product[description]" id="product-description" cols="30" rows="10" required></textarea>
        <label for="product-color">Colour</label>
        <input type="text" id="product-color" name="product[color]" required>
        <label for="product-price">Price</label>
        <input type="number" id="product-price" name="product[price]" required>
        <label for="product-img">Image</label>
        <input type="text" id="product-img" name="product[img]" required>
        <div class="product-sizes">
            <h6>Sizes</h6>
            <div>
                <input type="checkbox" id="sizes-checkbox" value="7" name="product[size]">
                <label for="sizes-checkbox">7</label>
            </div>
            <div>
                <input type="checkbox" id="sizes-checkbox" value="8" name="product[size]">
                <label for="sizes-checkbox">8</label>
            </div>
            <div>
                <input type="checkbox" id="sizes-checkbox" value="9" name="product[size]">
                <label for="sizes-checkbox">9</label>
            </div>
            <div>
                <input type="checkbox" id="sizes-checkbox" value="10" name="product[size]">
                <label for="sizes-checkbox">10</label>
            </div>
            <div>
                <input type="checkbox" id="sizes-checkbox" value="11" name="product[size]">
                <label for="sizes-checkbox">11</label>
            </div>
        </div>
        <label for="product-category">Category</label>
        <input type="text" id="product-category" name="product[category]" required>
        <label for="product-link">Link</label>
        <input type="text" id="product-link" name="product[link]" required>
        <button class="btn-form">Update</button>
    </form>
</main>
<% block('footer').append('<script src="/js/modal.js"></script>')%>