<% layout('layouts/boilerplate') %> 
<h1>Login</h1>
<form class="register-form" action="/login" method="POST">
    <label for="username">Your username: </label>
    <input type="text" id="username" name="username" required>
    <label for="user-password">Your password:</label>
    <input type="password" id="user-password" name="password" required>
    <button>Login</button>
</form>