<% layout('layouts/boilerplate') %> 
<% block('head').append('<link rel="stylesheet" type="text/css" href="/css/main.css">')%>
<main class="auth">
    <form class="auth-form" action="/register" method="POST">
        <h1>Register</h1>
        <% if(!currentUser){ %> 
        <label for="user-email">Your email: </label>
        <input type="email" id="user-email" name="email" required>
        <label for="username">Your username: </label>
        <input type="text" id="username" name="username" required>
        <label for="user-password">Your password:</label>
        <input type="password" id="user-password" name="password" required>  
        <button class="btn-form">Register</button>
        <% } else { %>
        <p>Apologies! You've made a wrong turn as you already appear to be signed in!</p>
        <a class="btn-wrapper" href="/">
            <button class="primary-btn">Go back</button>
        </a>
        <% } %> 
        
    </form>
</main>