.navbar.navbar-active {
    background-color: white;
    box-shadow: 0px 5px 1rem rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in;

    .container {
        .navbar__logo {
            .stroke {
                stroke: #3F3F3F;
            }

            .fill {
                fill: #3F3F3F;
            }
        }

        .navbar__links {
            .navbar__link {
                &:hover {
                    color: black;
                }
            }
        }
        .navbar__icons {
            .img-wrapper {
                .user-icon {
                    .svg-stroke {
                        stroke: black;
                    }
                }
            }
        }
    }
}

.navbar {
    width: 100%;
    min-height: 8vh;
    background-color: transparent;
    position: fixed;
    z-index: 1000;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 8vh;

        .navbar__logo {
            .stroke {
                stroke: #75746f;
            }

            .fill {
                fill: #75746f;
            }
        }


        .navbar__links {
            display: flex;
            flex-direction: row;
            align-items: center;

            .navbar__link {
                color: #75746f;
                padding-right: 20px;
                transition: 0.3s ease-in;

                &:hover {
                    color: #FFF;
                }
            }
        }
    }
}