.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;

    .navbar__top, 
    .navbar__bottom {
        // height: 7vh;

        .container { 
            width: 80%;
            margin: 0 auto;
            height: 7vh;
        }
    }

    .navbar__top {
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .navbar__items {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            a {
                color: $primaryBlack;
                
                .navbar-btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    border: 2px solid $primaryBlack;
                    width: 100px;
                    height: 30px;
                    margin-left: 20px;
                }
            }
        }
    }

    .navbar__bottom {
        background-color: $primaryBlack;
        width: 100%;

        .container { 
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .navbar__links {
                display: flex;
                flex-direction: row;

                .navbar__link {
                    font-family: $navbarFont;
                    font-size: 14px;
                    color: $white;
                    padding-right: 20px;
                    letter-spacing: 0.03em;
                }
            }
        }
    }
}